global
    maxconn 50000
    log /dev/null local0
    nbthread 1

defaults
    mode http
    no log
    option http-keep-alive
    timeout connect 1s
    timeout client  60s
    timeout server  60s
    timeout http-keep-alive 60s

frontend ft
    bind *:9999 backlog=2048
    default_backend bk_api

backend bk_api
    balance roundrobin
    option http-reuse always
    server api1 unix@/sockets/api1.sock
    server api2 unix@/sockets/api2.sock
